.destinations {
  text-align: center;
  position: relative;
  margin-top: 36px;
}
.tip {
  margin-bottom: 10px;
  font-weight: 600;
}
.destinations h1 {
  color: var(--new-dark-900);
  margin-bottom: 38px;
}
.spring {
  position: absolute;
  z-index: -1;
  bottom: -60px;
  width: 80px;
  right: 50%;
  transform: rotate(100deg);
}
@media screen and (min-width: 768px) {
  .destinations {
    margin-top: 90px;
  }
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    position: relative;
    z-index: 1;
  }
  .spring {
    position: absolute;
    z-index: -1;
    width: 120px;
    right: 45%;
    bottom: -170px;
    transform: rotate(90deg);
  }
  .card {
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-0);

    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02),
      0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.0152),
      0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.0121),
      0px 20px 13px 0px rgba(0, 0, 0, 0.01),
      0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0079),
      0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0048);
  }
  .cardBg {
    width: 100%;
    height: 250px;
  }
  .info {
    padding: 27px 20px 42px 20px;
    font-weight: 500;
  }
  .line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
  }
  .line p {
    font-size: 18px;
  }

  .duration {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}

@media screen and (min-width: 1000px) {
  .destinations {
    margin-top: 180px;
  }
  .destinations h1 {
    font-size: 50px;
  }
  .spring {
    position: absolute;
    z-index: -1;
    width: 120px;
    right: 45%;
    bottom: -170px;
    transform: rotate(90deg);
  }

  .cardBg {
    width: 100%;
    height: 327px;
  }
  .info {
    padding: 27px 20px 42px 20px;
    font-weight: 500;
  }
  .line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
  }
  .line p {
    font-size: 18px;
  }

  .duration {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .grid {
    gap: 70px;
  }
  .cardBg {
    height: 360px;
  }
}
