.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
  transition: background-color 0.3s ease-in-out;
}
.navItems {
  padding: 26px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
