.footer {
  margin-top: 100px;
  font-weight: 500;
  padding-bottom: 120px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer h1 {
  font-family: var(--font-poppins);
  color: var(--new-dark-800);
  margin-bottom: 19px;
  font-size: 40px;
  font-weight: 500;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 84px;
}
.brand p {
  font-size: 14px;
  width: 207px;
}
.reach {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.title {
  color: var(--new-dark-black);
  font-weight: 600;
  margin-bottom: 34px;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.socials {
  display: flex;
  gap: 25px;
  margin-bottom: 26px;
}
.social {
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.socialIg {
  background: var(--gradient-3);
}
.discover {
  font-size: 20px;
  margin-bottom: 16px;
}

.downloadBox {
  display: flex;
  gap: 12px;
}
.download {
  border-radius: 28px;
  display: flex;
  align-items: center;
  gap: 5.44px;
  padding: 7px 20px 8px 17px;
  background-color: var(--new-dark-black);
  width: fit-content;
}
.download p {
  color: var(--neutral-0);
}
.top {
  font-size: 9px;
  line-height: 15px;
}
.bottom {
  font-size: 11px;
  font-weight: 600;
  line-height: 17px;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: 120px;
  }
  .main {
    flex-direction: row;
    gap: unset;
    justify-content: space-between;
  }
  .reach {
    width: fit-content;
    gap: 24px;
  }
  .downloadBox {
    flex-direction: column;
  }
  .brand h1 {
    line-height: 20px;
    margin-bottom: 38px;
  }
  .brand p {
    width: 180px;
  }
}
@media screen and (min-width: 1000px) {
  .footer {
    margin-top: 180px;
  }
  .reach {
    gap: 40px;
  }
  .downloadBox {
    flex-direction: row;
  }
  .brand p {
    width: 207px;
  }
}

@media screen and (min-width: 1000px) {
  .reach {
    gap: 72px;
  }
}
