.cardStack {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 310px;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-0);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02),
    0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.0152),
    0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.0121),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0079),
    0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0048);
}

.card:hover {
  box-shadow: 0px 120px 100px 0px rgba(0, 0, 0, 0.04),
    0px 80px 60px 0px rgba(0, 0, 0, 0.03), 0px 50px 35px 0px rgba(0, 0, 0, 0.02);
}

.activeCard {
  box-shadow: 0px 120px 100px 0px rgba(0, 0, 0, 0.05),
    0px 80px 60px 0px rgba(0, 0, 0, 0.04), 0px 50px 35px 0px rgba(0, 0, 0, 0.03);
}

.cardBg {
  width: 320px;
  height: 327px;
  object-fit: cover;
}

.info {
  padding: 27px 20px 42px 20px;
  font-weight: 500;
}

.line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
}

.line p {
  font-size: 18px;
}

.duration {
  display: flex;
  align-items: center;
  gap: 14px;
}

@media screen and (min-width: 400px) {
  .card {
    width: 365px;
  }
  .cardBg {
    width: 100%;
  }
}
/* @media screen and (min-width: 400px) {
  .card {
    width: 365px;
  }
  .cardBg {
    width: 100%;
  }
} */
