:root {
  --primary-900: #3a556a;
  --primary-800: #407093;
  --primary-700: #365e7d;
  --primary-600: #4a80aa;
  --primary-500: #029bc5;
  --primary-400: #59b1e6;
  --primary-300: #8bcaff;
  --primary-200: #b5dcff;
  --primary-100: #dbedff;

  --neutral-900: #3e2e4d;
  --neutral-800: #4e4e73;
  --neutral-700: #5e6282;
  --neutral-600: #9facba;
  --neutral-500: #b6c4cf;
  --neutral-400: #bcb7c2;
  --neutral-300: #d5d6db;
  --neutral-200: #e1e6e9;
  --neutral-100: #f8f7f7;
  --neutral-0: #ffffff;

  --accent-700: #df6951;
  --accent-600: #ffa90f;
  --accent-500: #ffc365;
  --accent-400: #ffd086;
  --accent-300: #fff1da;

  --new-gray-100: #f7f7f7;
  --new-gray-200: #f5f5f5;
  --new-gray-300: #e5e5e5;
  --new-gray-400: #686d77;
  --new-gray-500: #84829a;

  --new-dark-900: #14183e;
  --new-dark-800: #181e4b;
  --new-dark-700: #1e1d4c;
  --new-dark-600: #212832;
  --new-dark-500: #39425d;
  --new-dark-black: #000000;

  --new-violet-100: #dfd7f9;
  --new-violet-200: #d5aee4;
  --new-violet-300: #8a79df;
  --new-violet-400: #6246e5;

  --new-accent-a1: #f0bb1f;
  --new-accent-a2: #f1a501;
  --new-accent-a3: #ff7152;
  --new-accent-a4: #f15a2b;
  --new-accent-a5: #006380;
  --new-accent-a6: #2196f3;
  --new-accent-a7: #4caf50;

  --gradient-1: linear-gradient(0deg, #5e3be1 0%, #747def 100%);
  --gradient-2: linear-gradient(0deg, #ff7d68 0%, #ff946d 100%);

  --gradient-3: conic-gradient(
    from 180deg,
    #b8d2f1 0%,

    #f289aa 17%,
    #c68bf0 29%,
    #d164da 43%,
    #c963e8 61%,
    #bfc2e8 72%,
    #ffc999 80%,
    #d0d8c9 88%,
    #bad0f1 93%,

    #ced8cb 100%,

    transparent 100%
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background-color: var(--neutral-0);
}

body {
  min-height: 100vh;
  font-family: var(--font-poppins), sans-serif;
  color: var(--neutral-700);
  background: transparent;
}

main,
section,
nav {
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-volkhov), serif;
}
p {
  font-size: 16px;
  line-height: 24px;
}
button {
  font-family: var(--font-inter), sans-serif;
  border: none;
  cursor: pointer;
}
input {
  background-color: var(--neutral-0);
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--font-poppins), sans-serif;
  width: 100%;
}
input:focus {
  border: 2px solid var(--new-dark-900);
  outline: 2px solid var(--new-dark-900);
}
input:-webkit-autofill {
  background-color: var(--neutral-0) !important;
  color: var(--new-dark-900) !important;
  transition: background-color 5000s ease-in-out 0s;
}
input[type="text"] {
  border: 2px solid transparent;
  border-radius: 10px;
  height: 48px;
  padding: 0 16px 0 44px;
}
.container {
  width: 320px;
}

@media screen and (min-width: 400px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 600px) {
  .container {
    width: 600px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 990px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
