.contact {
  margin-top: 60px;
}
.wrapper {
  display: flex;
  align-items: center;
}
.formWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--new-violet-100);
  border-radius: 100px 29px 29px 29px;
  z-index: 1;
}
.formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 300px;
  padding: 78px 32px;
  position: relative;
  z-index: 2;
}
.ripples1,
.ripples2 {
  position: absolute;
  /* opacity: 0.1; */
  width: 200px;
}
.ripples2 {
  right: 0;
  top: 0;
}
.ripples1 {
  bottom: 0;
}
.send {
  position: absolute;
  right: -16px;
  top: -16px;
  background: var(--gradient-1);
  width: 49px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.send img {
  width: 24.33px;
  height: 21px;
  transform: translateX(1px);
}
.formTitle {
  font-size: 22px;
  text-align: center;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 74px;
  width: 100%;
  width: 230px;
}
.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.inputLine {
  display: flex;
  align-items: center;
  position: relative;
}
.inputLine img {
  position: absolute;
  left: 16px;
}
.box button {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  background: var(--gradient-2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-0);
  font-weight: 500;
}

@media screen and (min-width: 400px) {
  .formWrapper {
    border-radius: 118px 29px 29px 29px;
  }
  .formBox {
    width: 355px;
    padding: 78px 42px;
  }
  .formTitle {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .formWrapper {
    border-radius: 129px 29px 29px 29px;
  }
  .formBox {
    width: 580px;
    padding: 78px 65px;
  }
  .formTitle {
    width: 100%;
    font-size: 26px;
    line-height: 40px;
  }
  .box {
    flex-direction: row;
    gap: 24px;
  }
  .inputLine {
    width: 100%;
  }
  .box button {
    width: 180px;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    margin-top: 120px;
  }
  .formBox {
    width: 750px;
    padding: 78px;
  }
  .formTitle {
    font-size: 33px;
    line-height: 49px;
  }

  .box {
    gap: unset;
    justify-content: space-between;
    width: 625px;
  }
  .inputLine {
    width: 421px;
  }
  .inputLine input {
    height: 68px;
  }
  .box button {
    height: 68px;
  }

  .send {
    right: -16px;
    top: -20px;
    width: 70px;
    height: 70px;
  }
  .send img {
    width: 34.77px;
    height: 30px;
    transform: translateX(1px);
  }
  .ripples1 {
    width: 300px;
    left: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .contact {
    margin-top: 180px;
  }
  .formBox {
    width: 968px;
    padding: 78px;
  }
  .formTitle {
    font-size: 33px;
    line-height: 49px;
  }
}

@media screen and (min-width: 1200px) {
  .formBox {
    width: 1178px;
    padding: 90px 120px;
  }
  .formTitle {
    width: 859px;
  }
  .ripples1 {
    width: 385px;
  }
}
