.testimonials {
  margin-top: 120px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  text-align: center;
  margin-bottom: 40px;
}

.tip {
  font-weight: 600;
  margin-bottom: 10px;
}

.top h1 {
  margin-bottom: 20px;
  color: var(--new-dark-900);
}

/* Dots */
.dots {
  display: flex;
  gap: 26px;
  justify-content: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--neutral-300);
  transition: all 0.3s ease;
}

.activeDot {
  width: 12px;
  height: 12px;
  background-color: var(--new-dark-500);
}
.logosWrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
  position: relative;
}
.showbox {
  overflow: hidden;
  height: 60px;
  transition: height 0.6s ease;
  cursor: pointer;
  width: 100%;
}
.slider {
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}
.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(84px * 5);
  position: relative;
}
.slider .list .item {
  width: fit-content;
  height: fit-content;
  transition: scale 0.3s ease;
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc((10s / 5) * (var(--position) - 1) - 10s) !important;
}
.logoImg {
  width: 84px;
  height: auto;
  flex-shrink: 0;
  opacity: 0.6;
  transition: all 0.3s ease;
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(84px * -2);
  }
}
.exp {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  border-radius: 10px;
  flex-shrink: 0;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02),
    0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.0152),
    0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.0121),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0079),
    0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0048);
}

.exp img {
  filter: none;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .testimonials {
    margin-top: 90px;
  }
  .box {
    display: flex;
  }
  .top {
    margin: 0;
    height: fit-content;
    text-align: left;
  }
  .dots {
    width: fit-content;
  }
  .top h1 {
    font-size: 44px;
    margin-bottom: 84px;
  }

  .showbox {
    height: 60px;
  }
  .slider .list {
    min-width: calc(162px * 5);
  }

  .logoImg {
    width: 162px;
    height: auto;
    opacity: 1;
  }
  @keyframes autoRun {
    from {
      left: 100%;
    }
    to {
      left: calc(84px * -4);
    }
  }
}
@media screen and (min-width: 1000px) {
  .testimonials {
    margin-top: 90px;
  }
  .box {
    justify-content: space-between;
  }
  .top h1 {
    font-size: 50px;
    margin-bottom: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .box {
    justify-content: space-between;
    width: 100%;
    padding-right: 30px;
  }
  .top h1 {
    width: 409px;
  }
}
